:root {
  --white: white;
  --grey:  #3d3b36;
  --brown: #5c5038;
  --black: #181a1b;

  --neon-red:    #ff3131;
  --neon-orange: #ff9914;
  --neon-yellow: #fbff14;
  --neon-green:  #74db00;
  --neon-blue:   #2b97fa;
  --neon-purple: #c922c9;
  --neon-pink:   #ff1493;

  --filter-neon-red:    invert(46%) sepia(86%)  saturate(3698%) hue-rotate(334deg) brightness(97%)  contrast(137%);
  --filter-neon-orange: invert(56%) sepia(96%)  saturate(542%)  hue-rotate(347deg) brightness(100%) contrast(102%);
  --filter-neon-yellow: invert(83%) sepia(92%)  saturate(730%)  hue-rotate(340deg) brightness(112%) contrast(104%);
  --filter-neon-green:  invert(56%) sepia(64%)  saturate(631%)  hue-rotate(45deg)  brightness(112%) contrast(102%);
  --filter-neon-blue:   invert(46%) sepia(29%)  saturate(3849%) hue-rotate(192deg) brightness(106%) contrast(96%);
  --filter-neon-purple: invert(19%) sepia(93%)  saturate(3023%) hue-rotate(288deg) brightness(100%) contrast(96%);
  --filter-neon-pink:   invert(53%) sepia(100%) saturate(7488%) hue-rotate(315deg) brightness(101%) contrast(102%);

  --sherb-red:    #e36868;
  --sherb-orange: #e3ba68;
  --sherb-yellow: #e3dd68;
  --sherb-green:  #8be368;
  --sherb-blue:   #68b8e3;
  --sherb-purple: #9d68e3;
  --sherb-pink:   #e368db;

  --primary-dark: var(--black);
  --secondary-dark: var(--grey);
  --primary-color: var(--neon-purple);
  --secondary-color: var(--neon-pink);

  --filter-primary-color: var(--filter-neon-purple);
  --filter-secondary-color: var(--filter-neon-pink);
}

html, body, div, applet, object,
iframe, h1, h2, h3, h4, h5, h6, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
header, hgroup, output, ruby,
section, summary, time, mark, audio, video {
  margin:  0 0 0 0;
  line-height: 1.25em;
  box-sizing: border-box;
  max-width: 100%;

  scrollbar-color: var(--primary-color) transparent !important;
}

body {
  background: var(--black); 
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: "ariel";
  max-width: 100%;
  min-height: 100%;
}

#main-page {
  padding: 0.75em;
  overflow-y: hidden;
  max-width: 90%;
  width: 850px;
  /*text-align: left;*/
}

::-moz-selection {
  color: var(--primary-dark);
  background-color: var(--primary-color);
}

::selection {
  color: var(--primary-dark);
  background-color: var(--primary-color);
}

.noselect, br, button, .fa
{
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  text-align: center;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

button {
  font-size: 1em;
  color: var(--primary-dark);
  cursor: pointer;
  padding: 0.25em 0.5em;
  background: var(--sherb-green);
  border: 0px;
  border-radius: 0.25em;
}

#content ul li::before {
  content: "\2022"; 
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 11pt;
  display: inline-block; 
  width: 1em; 
  margin-left: 0em;
}


/* width */
::-webkit-scrollbar 
{
  width: 8px;
  height: 8px;
}

/* track */
::-webkit-scrollbar-track 
{
  background: transparent; 
}
 
/* handle */
::-webkit-scrollbar-thumb 
{
  background: var(--primary-color);
  border-radius: 3px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover 
{
  background: var(--secondary-color); 
}